.main-home-container {
  @apply w-screen min-h-screen bg-blue-100 flex flex-col justify-center items-center gap-10;

  .topper {
    @apply w-full h-[calc(70vh)]  relative  shadow-md;
    background-image: url("https://media.istockphoto.com/id/1437032902/photo/old-laptop-computers-digital-tablets-mobile-phones-many-used-electronic-gadgets-devices-on.jpg?s=1024x1024&w=is&k=20&c=kZUadngJgaU2CgpIUOkWevBbAaOqlJPpFkNaJu7jolw=");

    background-size: cover;

    .overlay {
      @apply w-full h-full bg-blue-300 absolute;

      opacity: 0.7;
    }
    .info {
      @apply w-full h-full flex flex-col justify-center items-center absolute gap-6;
      z-index: 1;

      .off {
        @apply font-bold sm:text-9xl text-7xl  font-body text-gray-700 tracking-wider;
      }

      p {
        @apply font-light font-body tracking-wide capitalize;
      }

      .every {
        @apply font-body font-bold text-gray-800 sm:text-4xl text-3xl tracking-widest uppercase;
      }

      .shop {
        @apply bg-white shadow-md w-max px-6 py-3 uppercase font-bold font-beauty text-green-600 tracking-wide rounded-full flex flex-row items-center gap-4 justify-center;
        transition: all 200ms ease-in-out;
      }
      .shop:hover {
        @apply bg-green-600 text-white;
      }
    }
  }

  .top-products {
    @apply w-full min-h-[calc(30vh)] h-max flex flex-col items-center justify-center gap-4;

    .sub-heading {
      @apply w-full h-max flex flex-col justify-start p-4 capitalize font-semibold font-body text-2xl tracking-wide text-gray-700;

      .link {
        @apply w-full flex justify-center items-center bg-blue-100 shadow-md rounded-full py-3;

        backdrop-filter: opacity(0.5);
      }
    }

    .top-cards {
      @apply w-full flex justify-center items-center h-max;
      .the-cards {
        @apply w-full grid md:grid-cols-4 grid-cols-2 gap-6  place-items-center h-max;

        .card {
          @apply lg:w-[calc(18vw)] md:w-[calc(20vw)] w-[calc(40vw)] min-h-[calc(32vh)]  flex flex-col gap-4 bg-blue-50 rounded shadow-lg overflow-hidden;

          .image-holder {
            @apply w-full h-[calc(25vh)] overflow-hidden;

            .image {
              @apply w-full h-full object-cover;
            }
          }

          .details {
            @apply pl-4 pb-4 flex flex-col gap-2;
            .name {
              @apply font-body font-semibold text-gray-600;
            }
            .price {
              @apply font-beauty font-semibold text-green-600;
            }

            .price-strike {
              @apply font-beauty font-semibold text-red-600;
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }

  .new-arrival {
    @apply w-[calc(80vw)] max-h-[calc(50vh)] grid sm:grid-cols-2  bg-blue-50 rounded-lg shadow-2xl relative;
    .shop-new {
      @apply flex flex-col gap-4 items-center justify-center w-full h-[calc(50vh)];
      z-index: 2;
      .head {
        @apply capitalize font-bold font-body text-4xl tracking-wider text-gray-800;
      }
      .now {
        @apply bg-white shadow-md w-2/3 px-6 py-3 uppercase font-bold font-beauty text-green-600 
        tracking-wide rounded-md flex flex-row items-center gap-4 justify-center hover:bg-green-600 hover:text-white;

        transition: all 300ms ease-in-out;
      }
    }
    .new-image {
      @apply flex flex-col gap-4 items-center justify-center w-full h-[calc(50vh)] absolute sm:relative;
      .image {
        @apply w-full h-[calc(50vh)] object-cover;
        object-position: top;
      }
    }
  }

  .learn-more {
    @apply grid lg:grid-cols-2 md:grid-cols-3 w-[calc(95vw)] gap-4 p-4 grid-cols-1 relative;
    .company-image {
      .image {
        @apply lg:w-full lg:h-[calc(65vh)] md:w-[calc(40vh)] md:h-[calc(40vh)] lg:rounded-full object-cover;
      }
    }
    .company-desc {
      @apply flex flex-col justify-center items-start gap-6 lg:col-span-1 md:col-span-2;
      z-index: 2;

      .learn {
        @apply capitalize font-bold font-body text-4xl tracking-wider text-gray-700;
      }

      .desc {
        @apply font-beauty font-semibold text-gray-500 tracking-wide;
        word-spacing: 10px;
      }
      .more {
        @apply bg-white shadow-md w-full px-6 py-3 uppercase font-bold font-beauty
         text-green-600 tracking-wide rounded-md flex flex-row items-center gap-4 justify-center hover:bg-green-600 hover:text-white;

        transition: all 300ms ease-in-out;
      }
    }
  }

  .integrity-cards {
    @apply grid grid-cols-1 place-items-center gap-4 w-full h-max md:grid-cols-3 md:w-[calc(80vw)];

    .card {
      @apply flex flex-col gap-2 justify-center items-center w-11/12 bg-blue-50 rounded-lg shadow-lg px-2 py-5;

      h1 {
        @apply uppercase font-body font-semibold tracking-wider text-gray-700;
      }

      p {
        @apply capitalize font-beauty text-gray-600 flex justify-center items-center tracking-wide;
      }
    }
  }

  .client-reviews {
    @apply w-[calc(95vw)] h-max flex flex-col;

    .sub-heading {
      @apply w-full h-max flex flex-col justify-start p-4 capitalize font-semibold font-body text-2xl tracking-wide text-gray-700;
    }

    .the-reviews {
      @apply w-full h-max grid grid-cols-1 md:grid-cols-2 gap-4;

      .review {
        @apply w-full grid grid-cols-2 gap-8 h-[calc(35vh)] bg-blue-50 place-items-center rounded-lg shadow-lg p-5;

        .client-info {
          @apply flex flex-col gap-4 w-full;

          .image {
            @apply w-10/12 h-[calc(20vh)] rounded-lg shadow-lg object-cover;
          }

          .name {
            @apply capitalize font-bold font-body tracking-wide text-gray-600 text-xl pl-5;
          }
        }

        .client-rating {
          @apply w-full text-gray-500 font-bold tracking-wide font-beauty flex flex-col gap-5;

          .review-msg {
            @apply w-full text-gray-500 font-bold tracking-wide font-beauty flex flex-col gap-5;

            .btn {
              @apply bg-white w-full py-2 rounded-lg shadow-xl uppercase hover:bg-green-600 hover:text-white;

              transition: all 300ms ease-in-out;
            }
          }
        }
      }
    }
  }
}
